// Colors
$color-primary: rgb(0, 95, 230);
$color-shadow: rgba(155, 155, 155, 0.7);
$off-white: rgb(243, 245, 249);
$text-primary: rgb(75, 75, 75);
$text-secondary: rgb(111, 111, 111);
$text-cta: rgb(0, 105, 255);

// Text Sizes
$text-xs: 1rem;
$text-s: 1.2rem;
$text-sm: 1.4rem;
$text-m: 1.6rem;
$text-l: 2rem;
$text-xl: 3rem;

// Padding and Margin lengths
$length-xs: 0.5rem;
$length-s: 0.8rem;
$length-m: 1rem;
$length-l: 1.5rem;
$length-xl: 2rem;
$length-xxl: 3rem;
