.dnd-list {
  & {
    background-color: #eee;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: hidden;
    width: $list-width;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__title-container {
    position: relative;

    &:hover {
      cursor: pointer;
      background-color: #dbdbdb;
    }
  }

  &__title {
    border: 1px solid blue;
    color: #333;
    font-size: $list-title-size;
    font-weight: 700;
    padding: 6px 3px 3px 11px;
  }

  &__title-icon-container {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 2.5rem;
  }

  &__edit-icon {
    display: none;
    position: relative;

    &:hover {
      background-color: #bbb;
      color: #666;
    }
  }

  &__title-container:hover &__edit-icon {
    display: block;
  }

  &__main-content {
    overflow: hidden;
    padding: 3px 3px 0 6px;
  }

  &__cards-container {
    min-height: 2rem;
    max-height: 100%;
    overflow-x: hidden;
    //TODO: Remove error on drag
    //TODO: Scroll not working on Chrome
    //TODO: Use modern scroll bar
    overflow-y: scroll;
  }

  &__add-new-card-container {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 1rem;

    &:hover {
      background-color: #ddd;
      color: #333;
      text-decoration: underline;
    }
  }

  &__add-new-card-icon {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }

  &__add-new-card {
    margin: 0;
    user-select: none;
  }
}
