.dnd-list {
  &__wrapper {
    margin-right: 1rem;
  }

  & {
    background-color: #eee;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: hidden;
    width: $list-width;

    @include breakpoint('<=mobile-large') {
      width: 75vw;
    }

    &--dragging {
      box-shadow: 9px 12px 4px rgba(#000, 0.4);
      transform: rotate(2deg) scale(1.03);
      transition: 0.1s;
    }
  }

  &__title-container {
    position: relative;

    &:hover {
      background-color: #dbdbdb;
      cursor: pointer;
    }
  }

  &__title {
    color: #333;
    font-size: $list-title-size;
    font-weight: 700;
    padding: 1.2rem 0.6rem 0.7rem 1.1rem;
    padding-right: 3rem;
    user-select: none;

    &--text-entry {
      background-color: #dbdbdb;
      height: 100%;
      padding-bottom: 0;
      padding-right: 35px;
    }
  }

  &__edit-icon {
    display: none;
    font-size: $edit-icon-size;
    position: absolute;
    right: 0.7rem;
    top: 0.8rem;

    &--delete {
      display: block;
    }

    &:hover {
      background-color: #bbb;
      color: #666;
    }
  }

  &__title-container:hover &__edit-icon {
    display: block;
  }

  &__main-content {
    display: flex; // Required so Chrome will register an actual 'height' for this in order to scroll
    overflow: hidden;
    padding: 3px 0 0 6px;
  }

  &__cards-container {
    flex: 1;
    min-height: 2rem;
    overflow-x: hidden;
    //FIXME: unsupported nested scroll container // Note: Issue is unsupported but plans for supporting it in future: https://github.com/atlassian/react-beautiful-dnd/issues/131
    overflow-y: auto; // Looks weird on Firefox but perfect on Chrome (because Firefox doesn't have modern scrollbar feature)

    @include dnd-modern-scrollbar();
  }

  &__add-new-card-container {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: $card-content-size;
    padding: 1.2rem 1rem;

    &:hover {
      background-color: #ddd;
      color: #333;
      text-decoration: underline;
    }
  }

  &__add-new-card-icon {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }

  &__add-new-card {
    margin: 0;
    user-select: none;
  }
}
