.digital-ocean-sales-pitch-two {
  & {
    font-size: $text-m;
    padding: 10rem 12rem;
  }

  &__title {
    font-size: 3.5rem;
    margin-bottom: 6rem;
    text-align: center;
  }

  &__pitches-container {
    display: flex;
  }

  &__pitch-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:not(:last-child) {
      margin-right: $length-xxl;
    }
  }

  &__pitch-logo {
    margin-bottom: $length-s;
    width: 3.7rem;
  }

  &__pitch-title {
    font-size: $text-sm;
    margin-bottom: $length-s;
  }

  &__pitch-text {
    margin-bottom: $length-xxl;
  }

  &__pitch-cta {
    color: $text-cta;
  }
}
